*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-conte{
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 0 10px;
}

.box-subtotal{
    padding: 20px 20px 10px 20px;
    font-size: 1.3em;
}

#subTotal{
    font-size: 1.2em;
    font-weight: 600;
}

.proceder-pago{
    /*padding: 0 20px 20px 20px;*/
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 231, 8);
    border-radius: 10px;
    margin:0 20px 20px 20px;
    font-size: 1.4em;
}
#numeroProductos{
    font-weight: 500;
    font-size: 1.1em;
}

/*Inf Product*/

.product-content{
    display: grid;
    grid-template: "empty-left    box-img-producto   box-info-producto   empty-right"/
                        20px            3fr                 4fr              20px;
}
.box-img-producto{
    grid-area: box-img-producto;
}

.box-info-producto{
    grid-area: box-info-producto;
}

.box-button-cantidad{
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
}

.box-minus, .box-can, .box-plus{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

p{
    margin-top: 5px;
}


