.box-colores{
display: flex;
flex-direction: row;
}

.box-style{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
span {
    color: black;
    font-weight:900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
}

.box-1{
    background-color: pink;
 
}


.box-2{
  background-color: green;

}

.box-3{
    background-color: red;
 
}
 
.box-4{
    background-color: rgb(205, 92, 92);

}

.box-5{
    background-color: rgb(240, 230, 140);
}

.box-6{
    background-color: rgb(0, 255, 255);

}

.box-7{
    background-color: #ff8c00;

}

.box-8{
    background-color: #DA70D6;
 
}
.box-9{
    background-color: #7fff00;
 
}

.btn-neon{
    margin: 20px;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 40px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #00ff7f;
    box-shadow: 0 0 10px #9acd32, 0 0 40px #dadada, 0 0 80px #ff8c00;
    transition-delay: 1s;
}
.btn-neon:hover span{
    display: block;
    position: absolute;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #9acd32);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #DA70D6);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00fa94);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,  #ffd700);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
 body{
    background-color: #251a1a;
 }
 h1{
    color: #ffffff;
 }
 h2{
    color:#ffffff;
 }