.cajas{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
}
.cajas > div{
    background-color: rgb(255, 136, 0);
    height: 30px;
    transition: 0.3s all linear;
    width: 0;
    border-radius: 5px;
}
.caja-box{
    display: flex;
    flex-direction: column;
}
.estrella{
    margin-bottom: 5px;
    flex-direction: column;
    display: block;
}


.result{
    margin-left: 25px;
}

.cargar{
    margin-left: 20px;
}


