*{
    font-family: tahoma, sans-serif;
}
form{
    width: 600px;
    padding: 20px 40px;
}

.form-tittle{
    height: 80px;
    color: white;
    background-color: rgb(240, 0, 0);
    margin-top: 0;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    line-height: 60px;

}
input [type="text"] {
    display: block;
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid rgb(64, 64, 64);
}

label{
    display: block;
    margin-top: 20px;
}

.form-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-box{
    display: block;
    justify-content: center;
}
.contend-box{
    width: 600px;
    border: 1px solid rgb(240, 0, 0);
    margin-top: 88px;
}
select{
    margin-bottom: 20px;
}
input[type="submit"]{
    margin-top: 20px;
    width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: dodgerblue;
    line-height: 55px;
    color: white;
    font-size: 1.3em;
    font-weight: 900;
    border: none;
    border-radius: 20px;
}
input[type="text"]:focus{
    outline: none;
}

