
h1{
    color:lawngreen;
    font-size: 5em;
    text-align: center;
}
h2{
    color: azure;
    font-size: 2em;
    text-align: center;
}
h3{
    color:beige;
    font-size: 1.5em;
    text-align: center;
}


.btn-neon{
    margin: 20px;
    position: relative;
    display:inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #CD5C5C;
    box-shadow: 0 0 10px #CD5C5C, 0 0 40px #CD5C5C, 0 0 80px #CD5C5C;
    transition-delay: 1s;
}
.btn-neon:hover span{
    position: absolute;
    display:block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #CD5C5C);
}
.btn-neon:hover #span1{
   left: 100%;
   transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #CD5C5C);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #CD5C5C);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #CD5C5C);
}
.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon2{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon2:hover{
    background: #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
    transition-delay: 1s;
}
.btn-neon2:hover span{
    position: absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ff00);
}
.btn-neon2:hover #span5{
   left: 100%;
   transition: 1s;
}
#span6{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ff00);
}
.btn-neon2:hover #span6{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span7{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ff00);
}
.btn-neon2:hover #span7{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span8{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00ff00);
}
.btn-neon2:hover #span8{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon3{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon3:hover{
    background: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
    transition-delay: 1s;
}
.btn-neon3:hover span{
    position: absolute;
    display: block;
}
#span9{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ffff);
}
.btn-neon3:hover #span9{
   left: 100%;
   transition: 1s;
}
#span10{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ffff);
}
.btn-neon3:hover #span10{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span11{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ffff);
}
.btn-neon3:hover #span11{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span12{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#00ffff);
}
.btn-neon3:hover #span12{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon4{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon4:hover{
    background: #A52A2A;
    box-shadow: 0 0 10px #A52A2A, 0 0 40px #A52A2A, 0 0 80px #A52A2A;
    transition-delay: 1s;
}
.btn-neon4:hover span{
    position: absolute;
    display: block;
}
#span13{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #A52A2A);
}
.btn-neon4:hover #span13 {
   left: 100%;
   transition: 1s;
}
#span15{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #A52A2A);
}
.btn-neon4:hover #span15{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span14{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #A52A2A);
}
.btn-neon4:hover #span14{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span16{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #A52A2A);
}
.btn-neon4:hover #span16 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon5{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon5:hover{
    background: #d2961e;
    box-shadow: 0 0 10px #d2961e, 0 0 40px #d2961e, 0 0 80px #d2961e;
    transition-delay: 1s;
}
.btn-neon5:hover span{
    position: absolute;
    display: block;
}
#span17{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #d2961e);
}
.btn-neon5:hover #span17{
   left: 100%;
   transition: 1s;
}
#span19{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #d2961e);
}
.btn-neon5:hover #span19 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span18{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #d2961e);
}
.btn-neon5:hover #span18 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span20{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #d2961e);
}
.btn-neon5:hover #span20 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon6{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon6:hover{
    background: #00f;
    box-shadow: 0 0 10px #00f, 0 0 40px #00f, 0 0 80px #00f;
    transition-delay: 1s;
}
.btn-neon6:hover span{
    position: absolute;
    display: block;
}
#span21{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00f);
}
.btn-neon6:hover #span21{
   left: 100%;
   transition: 1s;
}
#span22{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #00f);
}
.btn-neon6:hover #span22{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span23{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00f);
}
.btn-neon6:hover #span23{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span24{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00f);
}
.btn-neon6:hover #span24{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon7{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon7:hover{
    background: #ffd700;
    box-shadow: 0 0 10px #ffd700, 0 0 40px #ffd700, 0 0 80px #ffd700;
    transition-delay: 1s;
}
.btn-neon7:hover span{
    position: absolute;
    display: block;
}
#span25{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffd700);
}
.btn-neon7:hover #span25{
   left: 100%;
   transition: 1s;
}
#span26{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffd700);
}
.btn-neon7:hover #span26{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span27{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffd700);
}
.btn-neon7:hover #span27{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span28{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffd700);
}
.btn-neon7:hover #span28{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon8{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon8:hover{
    background: #DA70D6;
    box-shadow: 0 0 10px #00FF7F, 0 0 40px #00FF7F, 0 0 80px #00FF7F;
    transition-delay: 1s;
}
.btn-neon8:hover span{
    position: absolute;
    display: block;
}
#span29{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #40E0D0);
}
.btn-neon8:hover #span29{
   left: 100%;
   transition: 1s;
}
#span30{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #7FFF00);
}
.btn-neon8:hover #span30{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span31{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF00FF);
}
.btn-neon8:hover #span31{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span32{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF5733);
}
.btn-neon8:hover #span32{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}



.btn-neon9{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon9:hover{
    background: #FF5733;
    box-shadow: 0 0 10px #FF5733, 0 0 40px #FF5733, 0 0 80px #FF5733;
    transition-delay: 1s;
}
.btn-neon9:hover span{
    position: absolute;
    display: block;
}
#span33{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF5733);
}
.btn-neon9:hover #span33{
   left: 100%;
   transition: 1s;
}
#span34{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #FF5733);
}
.btn-neon9:hover #span34{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span35{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF5733);
}
.btn-neon9:hover #span35{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span36{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF5733);
}
.btn-neon9:hover #span36{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-neon10{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon10:hover{
    background: #ffff00;
    box-shadow: 0 0 10px #ffff00, 0 0 40px #ffff00, 0 0 80px #ffff00;
    transition-delay: 1s;
}
.btn-neon10:hover span{
    position: absolute;
    display: block;
}
#span37{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffff00);
}
.btn-neon10:hover #span37{
   left: 100%;
   transition: 1s;
}
#span38{
    bottom: 0;
    right: -100%;
    width: 100%; 
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffff00);
}
.btn-neon10:hover #span38{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span39{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffff00);
}
.btn-neon10:hover #span39{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span40{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffff00);
}
.btn-neon10:hover #span40{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon11{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    text-decoration: none;
    transition: 0.2s;
}

.btn-neon11:hover{
    background: #44e9e1;
    box-shadow: 0 0 10px #44e9e1, 0 0 40px #44e9e1, 0 0 80px #44e9e1;
    transition-delay: 1s;
}

.btn-neon11:hover span{
    position: absolute;
    display: block;
}

#span41{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #44e9e1);
}

.btn-neon11:hover #span41{
    left: 100%;
    transition: 1s;
}

#span43{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #44e9e1);
}

.btn-neon11:hover #span43{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span42{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #44e9e1);
}

.btn-neon11:hover #span42{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span44{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #44e9e1);
}

.btn-neon11:hover #span44{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon12{
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon12:hover{
    background:#ff0055;
    box-shadow: 0 0  10px #ff0055,  0 0 40px #ff0055,  0 0 80px #ff0055;
    transition-delay: 1s;
}.btn-neon12:hover span{
    position: absolute;
    display: block;
}
#span45{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0055)
}
.btn-neon12:hover #span45{
    left: 100%;
    transition: 1s;
}
#span46{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0055);
}
.btn-neon12:hover #span46{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span47{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0055);
}
.btn-neon12:hover #span47{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span48{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0055);
}
.btn-neon12:hover #span48{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}



.btn-neon13{
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon13:hover{
    background:#2bff00;
    box-shadow: 0 0  10px #920031,  0 0 40px #0109ff,  0 0 80px #ffd900;
    transition-delay: 1s;
}.btn-neon13:hover span{
    position: absolute;
    display: block;
}
#span49{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #bf718b)
}
.btn-neon13:hover #span49{
    left: 100%;
    transition: 1s;
}
#span50{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #09fff7);
}
.btn-neon13:hover #span50{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span51{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ff66);
}
.btn-neon13:hover #span51{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span52{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffd000);
}
.btn-neon13:hover #span52{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon14{
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon14:hover{
    background:#00fbff;
    box-shadow: 0 0  10px #ffa0c0,  0 0 40px #c8caff,  0 0 80px #ffeb79;
    transition-delay: 1s;
}.btn-neon14:hover span{
    position: absolute;
    display: block;
}
#span53{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffa0c0)
}
.btn-neon14:hover #span53{
    left: 100%;
    transition: 1s;
}
#span54{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ecff70);
}
.btn-neon14:hover #span54{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span55{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff3e3e);
}
.btn-neon14:hover #span55{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span56{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fb00ff);
}
.btn-neon14:hover #span56{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}