.box-1{
border: 4px solid rgb(64, 64, 64, 9);
background-color: rgb(199, 245, 199);

}

h1{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: overline;
}
.box-2{
    border: 4px dashed rgb(76, 255, 40);
    background-color: rgb(192, 241, 241);
}

.box-3{
    border: 4px dotted rgba(236, 0, 0, 0.781);
    background-color: rgb(236, 168, 236);
}
.box-4{
    border: 4px double navy;
    background-color: rgb(179, 236, 215);
}
.border{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-style{
    width: 350px;
    margin:20px;
    display: inline-block;
    padding: 15px 30px;
    text-align: justify;
    font-size: 1.3em;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.4em;

   
}
body{
   background-color: azure;

}

.btn-neon{
    margin: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: #000;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 40px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    }
    .btn-neon:hover{
        background: #e9e517;
        box-shadow: 0 0 10px #e9e517, 0 0 40px #e9e517, 0 0 80px #e9e517;
        transition-delay: 1s;
    }
    .btn-neon:hover span{
        position: absolute;
        display: block;
    }
    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #e9e517);
    }
    .btn-neon:hover #span1{
       left: 100%;
       transition: 1s;
    }
    #span3{
        bottom: 0;
        right: -100%;
        width: 100%; 
        height: 2px;
        background: linear-gradient(270deg, transparent, #e9e517);
    }
    .btn-neon:hover #span3{
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #e9e517);
    }
    .btn-neon:hover #span2{
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom:-100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #e9e517);
    }
    .btn-neon:hover #span4 {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
    