*{
    margin: 0;
    padding: 0;
}

.mai-menu{
    list-style: none;
    text-align: right;
}

.item-style{
    font-size: 1em;
    margin: 0 30px;
    display: inline-block;
    list-style: none;
    line-height: 70px;
    font-family:'Times New Roman';
    font-size: 2em;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #000;
}
.item-style-last{
    margin-left: 100px;
}
.hamb{
    display: none;
}
.main{
    background-color: rgb(255, 145, 67);
    height: 80px;
    border-bottom: 2px solid black;
}
.item-style:hover{
    background: rgb(253, 191, 147);
    height: 80px;
}


@media only screen and (max-width: 800px) {
    /* desaparecer menu*/
    .mai-menu {
        position: fixed;
        left: -100%;
        transition: 1500ms;
    }
    .mai-menu-block{
        display: block;
        background-color: rgb(255, 212, 182);
        padding: 30px;
        height: 440px;
        text-align: center;
        cursor: pointer;
        left: 0;
        transition: left 1s;
    }
    .item-style{
        display: block;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    .item-style:hover{
        background: rgb(255, 128, 37);
    }
    .hamb{
        display: inline-block;
        color: white;
        font-size: 2.3em;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .hamb:hover{
        cursor: pointer;
    }
}

body{
    background-color: #dddddd;
}