*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-box-slider{
    width: 100%;
    overflow: hidden;
}

.box-slider{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh);
    position: relative;
    transition: all 1500ms;
}
.box-slider-1{
    left: 0;
}
.box-slider-2{
    left: -100%;
}
.box-slider-3{
    left: -200%;
}
.box-slider-4{
    left: -300%;
}

.box-icon-chevron-left{
    position: relative;
    top: calc((-100vh) + 420px);
    width: 100px; 
}

.box-icon-chevron-right{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: calc((-100vh) + 372px);
}

.icons-chevron-left, .icons-chevron-right{
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    position: relative;
   /*  top: calc((-100vh) + 500px); */
    z-index: 100;
    cursor: pointer;
}

.img-slider{
    width: 100%;
}

.box-box-signal{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    z-index: 200px;
}

.box-signal{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
}

.signal{
    width: 26px;
    height: 26px;
    background-color: rgb(158, 158, 158);
    justify-content: space-around;
    border-radius: 13px;
}
.signal-select{
    background-color: rgb(99, 99, 99);
}

@media only screen and (max-width: 1500px){
    .box-icon-chevron-left {
        top: calc((-100vh) + 220px);
    }
    .box-icon-chevron-right{
        top: calc((-100vh) + 172px);
    }
}
@media only screen and (max-width: 1000px){
    .box-icon-chevron-left{
        top: calc((-100vh) + 120px);
    }
    .box-icon-chevron-right{
        top: calc((-100vh) + 72px);
    }
}