*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgb(0, 0, 0);
    width: 98.6%;
    height: 45.5px;
    display: grid;
    grid-template: "header-logo        header-enviar-a       box-header-search-input       header-contry-flag       header-identificacion       header-devoluciones         header-carrito " 50px/
                     150px             105px                 1fr                           105px                       140px                     110px                    120px;               
}
header{
    padding: 14px;
    position: static;
}

.header-logo{
    grid-area: header-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
    cursor: pointer;
}
.header-enviar-a{
    grid-area: header-enviar-a;
    display: grid;
    grid-template: "box-icon-location    box-texto-enviar-a  "
                    "box-icon-location    box-texto-colombia "/
                    20px                    70px;
}

.box-icon-location{
    height: 60px;
    grid-area: box-icon-location;
    color: white;
    font-size: 1.4em;
    display: flex;
    align-items: center;
}
.icon-location{
    font-size: .8em;
}
.box-texto-enviar-a{
    grid-area: box-texto-enviar-a;
    color: white;
    position: relative;
    top: 10px;
    font-size: .8em;
    font-weight: 300;
}

.box-texto-colombia{
    grid-area: box-texto-colombia;
    font-size: .9em;
    font-weight: 730;
    color: white;
    position: relative;
    bottom: 4px;
}

.box-header-search-input{
    grid-area: box-header-search-input;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-input{
    height: 40px;
    width: 98%;
    display: grid;
    grid-template: "box-filtro-todos     box-buscar-amazon   box-lupa"/
                        70px                   1fr              50px;
}
.box-filtro-todos{
    grid-area: box-filtro-todos;
    background-color: rgb(201, 201, 201);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.filtro-todos{
    display: flex;
    align-items: center;
    height: 40px;
}

.header-todos{
    padding: 1.5px 2px 3px 10px;
    font-size: 1em;
}
.box-buscar-amazon{
    grid-area: box-buscar-amazon;
    background-color: white;
    width: 100%;
}
.input-busqueda{
    border: none;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1em;
}

.input-busqueda::placeholder{
    font-size: .8em;
    font-weight: 500;
}

.box-lupa{
    height: 40px;
    background-color: rgb(255, 182, 45);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lupa{
    grid-area: lupa;
}
.icon-lupa{
    font-size: 1.1em;
}

.header-contry-flag{
    grid-area: header-contry-flag;
}

.box-flag{
    display: flex;
    justify-content: center;
    margin-left: 65px;
    margin-top: 20px;
}

.flag-img{
    width: 40px;
}
.idioma{
    color: white;
    font-size: .9em;
    position: relative;
    top: 5px;
    margin-left: 5px;
    font-weight: 555;
}

.icon-eeuu{
    margin-top: 10px;
    color: white;
    font-size: .8em;
}

.header-identificacion{
    grid-area: header-identificacion;
}

.txtId{
    color: white;
    font-size: .7em;
    position: relative;
    top: 5px;
    margin-left: 40px;
}

.txtCuentaList{
    color: white;
    font-size: .8em;
    font-weight: 730;
    position: relative;
    top: 5px;
    margin-left: 40px;
}

.icon-id{
    margin-top: -1%;
    color: white;
    font-size: .7em;
    margin-left: 130px;
}
.header-devoluciones{
    grid-area: header-devoluciones;
}

.txtDevolucion{
    color: white;
    font-size: .7em;
    position: relative;
    top: 5px;
    margin-left: 40px;
}

.pedido{
    color: white;
    font-size: .9em;
    font-weight: 730;
    position: relative;
    top: 5px;
    margin-left: 40px;
}

.header-carrito{
    grid-area: header-carrito;
}
.box-carrito{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.icon-carrito{
    color: #ffffff;
    font-size: 2em;
    position: relative;
    top: 3px;
}

.txt-carrito{
    color: white;
    font-size: .9em;
    font-weight: 600;
    position: relative;
    display: flex;
    margin-top: 15px;
}

.Barra-header{
    padding: 10px;
    background-color: rgb(35, 47, 62);
    color: white;
    font-size: 1em;
    width: 99%;
    position: static;
}

.espaci{
    margin-left: 20px;
}


.mainContent{
    height: 100vh;
    position: static;
    z-index: 10;
}



/* imagenes-contenedor */
main{
    display: none;
}

main.visible{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 10;
}
.modal{
    width: 95%;
    height: 70%;
    z-index: 20;
    background-color: white;
    border-radius: 15px;
}

.contenedor-principal{
    width: 90%;
    display: grid;
    grid-template: "boxImagenPrincipal    box-todo"/
                    1fr              1fr;
}

.boxImagenUno{
    grid-area: boxImagenPrincipal;
}
.imagenPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 620px;
    cursor: pointer;
}
.img-main{
    width: 220%;
}
.box-todo{
    grid-area: box-todo;
}
.info-producto{
    display: flex;
}
.txtProduct{
    text-align: justify;
    margin-top: 40px;
    width: 60%;
    height: 40%;
    margin-left: 580px;
    align-items: flex-end;
    font-size: 1.2em;
}

.imagenes{
    margin-left: 580px;
    padding: 6px 6px 9px 6px;
}

.imgReducidas{
    width: 50px;
    margin-top: 5px;
    border: solid 2.5px rgb(180, 180, 180);
    cursor: pointer;
}
.active{
    width: 50px;
    margin-top: 5px;
    border: solid 2.5px rgb(207, 55, 0);
    cursor: pointer;
}
.imgReducidas:hover{
    border: solid 2.5px rgb(0, 0, 66);
} 
.close{
    width: 25px;
    height: 25px;
    margin-left: 95%;
    margin-top: 10px;
    border: solid 1px rgb(0, 255, 255);
    border-radius: 5px;
    z-index: 20;
    cursor: pointer;
    font-size: 1.5em;
    background-color: white;
}

.close:hover{
    box-shadow: 0 0 5px rgb(199, 247, 255), 0 0 20px rgb(199, 247, 255), 0 0 40px rgb(199, 247, 255);
}

.video{
    margin-left: 30px;
    font-size: 1em;
    position: static;
    cursor: pointer;
}
.imagen{
    margin-left: 30px;
    font-size: 1em;
    position: static;
    cursor: pointer;
}
.video:hover{
    border-bottom: 10px solid rgb(255, 174, 0);
    border-radius: 4px;
}
.imagen:hover{
    border-bottom: 10px solid rgb(255, 174, 0);
    border-radius: 4px;
}


.x{
    color: grey;
    margin-top: 10px;
}


/*IMAGEN PRINCIPAL DEL RELOJ*/

/* .pagImgPrincipal{
    width: 400px;
} */

/*Anuncio*/

.pag-principal{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template: "imagenAnuncio   txtAnucio       star        numeroAnuncio        primeAnuncio " /
                         50px          960px        180px           60px              70px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px  rgb(206, 206, 206) solid;
    background-color: rgb(245, 245, 245);
}
.imagenAnuncio{
    grid-area: imagenAnuncio;
}
.mgAnuncio{
    display: flex;
}
.imgAnuncio{
    width: 45px;
}
.txtAnuncio{
    grid-area: txtAnuncio;
}
.txtOlevesAnuncio{
    font-size: .9em;
    font-weight: 700;
    color: rgb(53, 53, 53);
}

.star{
    grid-area: star;
}
.start{
    color: rgb(255, 196, 0);
    font-size: .9em;
}
.numeroStar{
    font-size: .6em;   
    margin-bottom: 10px;
}


.numeroAnuncio{
    grid-area: numeroAnuncio;
}
.signoPeso{
    font-size: .7em;
    color: rgb(216, 20, 20);
    font-weight: 700;
}
.umeroAnuncios{
    color:rgb(216, 20, 20);
    font-weight: 700;
    font-size: 1em;
}
.numeroPequeñoAnuncio{
    font-size: .7em;
    color: rgb(216, 20, 20);
    font-weight: 700;
}


.primeAnuncio{
    grid-area: primeAnuncio;
}
.prime{
    font-size: .9em;
    color: rgb(0, 162, 255);
    font-weight: 850;
}
.fa-check{
    color: rgb(255, 187, 0);
    font-weight: 850;
}


/*Contenido principal*/
.resultados{
    margin-left: 40px;
    margin-top: 25px;
    font-size: 1em;
    color: #808080;
    cursor: pointer; 
}
.resultados:hover{
    box-shadow: 0  1px rgb(119, 119, 119);
    width: 250px;
} 
.resultados1{
    margin-left: 40px;
    margin-top: 25px;
    font-size: .7em;
    color: #808080;
    cursor: pointer; 
}
.resultados1:hover{
    box-shadow: 0  1px rgb(119, 119, 119);
    width: 10px;
} 

.mainContent{
    width: 100%;
    height: 99px;
    margin-right: 100%;
    display: grid;
    grid-template: "imagenesReducidasPagPrincipal       imgPrincipalPag     iconReloj  textReloj    devoRelo"/
                        200px                                440px             100px       660px          300px;
}

.imagenesReducidasPagPrincipal{
    grid-area: imagenesReducidasPagPrincipal;
}
.imgPrinReducidas{
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-top: 5px;
}
.imgReducidasPrincipal{
    width: 60px;
    border-radius: 10px;
    border: 1px solid rgb(153, 153, 153);
    margin-top: 18px;
}

.activation{
    width: 60px;
    border-radius: 10px;
    margin-top: 18px;
}

.imgReducidasPrincipal:hover{
    box-shadow: 0 0 10px rgb(30, 213, 245); 
    cursor: pointer;
}
.imgPrincipalPag{
    grid-area: imgPrincipalPag;
    cursor: pointer;
    width: 100%;
}
.pagImgPrincipal{
    margin-top: 60px;
    display: flex;
    cursor: pointer;
}
.iconReloj{
    grid-area: iconReloj;
    cursor: pointer;
}
.dounload{
    margin-left: 40px;
    margin-top: 75px;
    font-size: 2em;
    cursor: pointer;
}

.visitas{
    color: rgb(20, 120, 300);
    font-size: 0.7em;
    margin-top: 10px;
}
.textReloj{
    grid-area: textReloj;
    margin-top: 60px;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    color: #525252;
}
.numero41{
    font-size: .6em;
}
.numero41-1{
    color: rgb(255, 153, 0);
    font-size: .6em;
}
.numero41-2{
    color: rgb(63, 63, 63);
    font-size: .6em;
    margin-left: 20px;
}
.calificacion{
    color: rgb(0, 110, 255);
    font-size: .6em;
    margin-left: 30px;
}
.calificacion-1{
    color: rgb(0, 110, 255);
    font-size: .6em;
    margin-right: 100px;
}
.Compras{
    color: #bbbbbb;
    font-size: .5em;
}
.TextRelojOlevs{
    margin-top: 60px;
}


.devoRelo{
    grid-area: devoRelo;
}
.diseñoReloj{
    margin-top: 60px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 30px;
}

.us{
    font-size: 1em;
    color: #000;
}
.numero38{
    font-size: 2.5em;
    color: #000;
}
.numero66{
    font-size: 1em;
    color: #000;
    padding-top: 20px;
}
.sinDeposito{
    font-size: 1em;
}
.entregaGratis{
    font-size: 1em;
}
.EntregaRapida{
    font-size: 1em;
}
.ebvioGratis{
    font-size: 1em;
    font-weight: 800;
}
.devolucionGratis{
    font-size: 1em;
    color: rgb(0, 110, 255);
    font-size: 1em;
}
.devolucionGratis1{
    color: rgb(63, 63, 63);
    font-size: .9em;
}
.detallesReloj{
    font-size: 1em;
    color: rgb(0, 110, 255);
}
.detallesReloj1{
    color: rgb(63, 63, 63);
    font-size: .9em;
}
.miercoles{
    font-size: 1em;
    font-weight: 800;
}
.horaReloj{
    font-size: 1em;
    color: rgb(0, 165, 0);
}
.EnviarColombia{
    font-size: 1em;
    color: rgb(0, 110, 255);
    padding: 5px;
}
.martes{
    font-size: 1em;
    font-weight: 800;
}
.EnviarColombia1{
    color: #525252;
}
.Disponible{
    font-size: 1em;
    color: rgb(0, 165, 0);
    font-size: 1em;
}
.caja1{
    font-size: 1em;
    border: 1px solid rgb(0, 0, 0);
    background-color: #eeeeee;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.caja1-1{
    font-size: 1em;
    color: black;
    font-size: .9em;
    font-weight: 600;
    cursor: pointer;
}
.caja2{
    font-size: 1em;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    
}
.caja3{
    font-size: 1em;
    background-color: rgb(255, 123, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    height: 30px;
}

.Hola{
    font-size: 1em;
}

.estrellas{
    color: aquamarine;

}
.estrella{
    display: flex;
    flex-direction: row;
}

.estrella{
    color: rgb(255, 81, 0);
    flex-direction: row;
    display: inline-block;
    font-size: .7em;
}



