table, th,tr, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px 15px 8px 15px;
    text-align: center;

}
.table-box{
    display: flex;
    justify-content: center;
}
.x{
    background-color: gainsboro;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 2em;
    color:brown;
}
.im{
    background-color: gainsboro;
}
.ol{
    background-color: lightseagreen;
    color: white;
    font-size: 1.3em;
}
.v{
    background-color: seagreen;
    font-size: 1.3em;
    color: white;
}
.a{
    background-color: aqua;
    font-size: 1.3em;
}
.n{
    background-color: darkorange;
    font-size: 1.3em;
}
.m{
    background-color: blueviolet;
    color: white;
    font-size: 1.3em;
    border-top-right-radius: 20px;
}
.ul{
    border-top-left-radius: 20px;
    background-color: lightseagreen;
    color: white;
    font-size: 1.3em;
}
.al{
    border-bottom-left-radius: 20px;
    background-color: lightseagreen;
    color: white;
    font-size: 1.3em;
} 
